/*** GENERAL CSS RULES ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  text-rendering: optimizeLegibility;
}

a:link {
  text-decoration: none;
}

li {
  list-style-type: none;
  font-size: 18px;
}

p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 25px;
}

hr {
  max-width: 600px;
  margin: 20px auto;
  border-top: 1px solid #000;
}

/*** ***/
/* REUSABLE COMPONENTS */
section {
  padding: 60px 10px;
}

section:nth-child(even) {
  background-color: #e9e5e5;
}

.section-container {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

.section-title {
  margin: 0 auto 20px auto;
  font-weight: 700;
  font-size: 30px;
  padding: 10px;
  text-transform: uppercase;
}

.section-container p {
  text-align: left;
}

.section-title:after {
  display: block;
  height: 3px;
  width: 100px;
  background-color: #f44b4b;
  content: " ";
  margin: 10px auto 0 auto;
}

.section-img {
  border: 2px solid #fff;
  border-radius: 100%;
  width: 175px;
}

/******/


/*** HEADER RULES ***/

.header-section {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://raw.githubusercontent.com/envincebal/my_portfolio/gh-pages/images/macbook.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.navbar {
  min-height: 55px;
  width: 100%;
  transition: all 1s ease-in-out;
}

.nav-wrapper {
  max-width: 1104px;
  margin: 0 auto;
}

.nav-icon {
  color: #fff;
  margin-top: 12px;
  margin-left: 5%;
  float: left;
  transition: color 0.5s ease;
}

@media (max-width: 1160px) {
  .nav-icon {
    padding-left: 2%;
  }
}

.nav-icon:hover {
  color: #5682c5;
}

.nav-links {
  float: right;
  margin-top: 15px;
  font-weight: 300;
}

@media (max-width: 780px) {
  .nav-links {
    display: none;
    width: 100%;
    text-align: center;
  }
}

.link-item {
  margin: 0 20px;
  display: inline-block;
  transition: color 0.5s ease;
  font-size: 18px;
}

@media (max-width: 780px) {
  .link-item {
    margin: 15px 0 15px 0;
    display: block;
    text-transform: uppercase;
  }
}

a:link,
a:visited {
  color: #fff;
  transition: color 0.5s ease;
}

a:hover {
  color: #5682c5;
}

.nav-wrapper .menu-icon {
  display: none;
  float: right;
  margin-top: 12px;
  margin-right: 5%;
  cursor: pointer;
}

@media (max-width: 780px) {
  .nav-wrapper .menu-icon {
    display: inline-block;
  }
}

.close-icon {
  float: right;
  margin-top: 12px;
  margin-right: 5%;
  cursor: pointer;
}

.nav-sticky {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px -2px 5px 4px rgba(0, 0, 0, 0.702);
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 2px 0px #000;
  text-align: center;
  width: 100%;
}

.blue {
  color: #5682c5;
}

.title-name {
  font-size: 4.25rem;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .title-name {
    font-size: 2.5rem;
  }
}

.title-job {
  font-size: 2rem;
  font-weight: 300;
}

@media (max-width: 500px) {
  .title-job {
    font-size: 1.25rem;
  }
}

.projects-arrow {
  position: absolute;
  bottom: 3%;
  left: 49%;
}

@media (max-width: 680px) {
  .projects-arrow {
    left: 45%;
  }
}

.fa-angle-down {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    color: #fff;
  }

  100% {
    color: #e74a4a;
  }
}

.header-border {
  border-top: 2px solid #5682c5;
}

.resume-button {
  background-color: #e74a4a;
  border: none;
  font-size: 16px;
  color: #fff;
  border-radius: 100px;
  height: 50px;
  width: 180px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.resume-button:hover {
  background-color: #b40808;
}

/******/

/*** SKILLS RULES ***/
.icon-row {
  display: inline-block;
}

@media (max-width: 500px) {
  .icon-row {
    display: inline;
  }
}

.tool-icon {
  width: 100px;
  margin: 0 5px;
}

/******/


/*** PROJECT SECTION RULES ***/

.project-container {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
}

.project-div {
  padding: 30px 0;
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .project-div {
    display: block;
  }
}

.img-div {
  width: 40%;
}

.project-img {
  width: 100%;
  box-shadow: 0px 0px 14px -1px #000;
  transition: all 0.5s ease;
}

.project-img:hover {
  box-shadow: 0px 0px 30px 1px #000;
}

@media (max-width: 900px) {
  .img-div {
    width: 100%;
  }
}

.project-details {
  width: 60%;
  padding: 0 0 0 30px;
}

.project-title {
  margin: 0 0 20px 0;
}

@media (max-width: 900px) {
  .project-title {
    width: 100%;
    margin: 20px 0;
  }
}

.project-details .fa {
  margin: 0 30px;
  color: #000;
  transition: color 0.5s ease;
}

.project-details .fa:hover {
  color: #5682c5;
}

.tech-list li {
  background-color: #1d4a8d;
  color: #fff;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

@media (max-width: 900px) {
  .project-details {
    width: 100%;
    padding: 0;
  }
}

/******/

/*** CONTACT SECTION RULES ***/

.contact-section p {
  text-align: center;
}

.form label {
  float: left;
}

.form {
  width: 100%;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 20px;
}

.input-name,
.input-email,
.input-phone {
  height: 40px;
}

.form-submit {
  background-color: #e74a4a;
  border-style: none;
  color: #fff;
  font-size: 16px;
  border-radius: 100px;
  border-radius: 100px;
  height: 50px;
  width: 120px;
  padding: 15px 25px;
  transition: all 0.5s ease;
}

.form-submit:hover {
  cursor: pointer;
  background-color: #b40808;
}

.medium-icon,
.github-icon,
.linkedin-icon {
  width: 50px;
  margin: 0 20px;
  color: #000;
  transition: color 0.5s ease;
}

.medium-icon:hover {
  color: #006607;
}

.github-icon:hover {
  color: #9c00ae;
}

.linkedin-icon:hover {
  color: #3171b3;
}

/******/

/*** FOOTER RULES ***/
.footer-border {
  border-bottom: 2px solid #f44b4b;
}

footer {
  background-color: #5682c5;
  padding: 20px;
  text-align: center;
  color: #fff;
}

/******/